# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create a Jupyter Notebook
* List data science languages
* List data science libraries
* Create a table of Data Science tools
* Introducing arithmetic expression examples

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas
4. SciPy

|   Data Science Tools  |
|-----------------------|
|   Jupyter Notebooks   |
|       R Studio's      |
|        Hadoop         |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [6]:
#This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print (x)

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
x = 200/60;
print("Total hours " + str(x))

Total hours 3.3333333333333335

## Author:
Mercedes Bail√©n Cuevas